main {
    /* display: grid; */
    /* grid-template-rows: auto 2px auto 1fr; */
    gap: 10px;
}

.room-section {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-areas:
        'image name'
        'image description';
    background: floralwhite;
    border: darkolivegreen 7px outset;
    height: 400px;
    align-items: center;
}

#room-name {
    grid-area: name;
}

#room-image {
    grid-area: image;
    width: 175px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
}

#room-description {
    grid-area: description;
    align-self: center;
}

#message-form {
    display: grid;
    grid-template-columns: 1fr 100px;
}

input {
    height: 50px;
}

button {
    height: 50px;
}

#message-list li {
    background: rgb(249, 248, 245);
    margin: 10px;
    padding: 5px;
    border-radius: 25px;
    width: fit-content;
}

#message-list {
    margin-top: 20px;
    margin-bottom: 20px;
    border: darkolivegreen 3px outset;
    padding-top: 20px;
    background-color: rgb(199, 196, 154);
    min-height: 250px;
    padding-bottom: 20px;
}
