main {
    /* display: grid; */
    /* grid-template-rows: auto 2px auto 1fr; */
    gap: 10px;
}

.room-section {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-areas:
        'image name'
        'image description';
    background: floralwhite;
    border: darkolivegreen 7px outset;
    min-height: 300px;
    align-items: center;
}

#room-name {
    grid-area: name;
}

#room-image {
    grid-area: image;
    width: 175px;
    object-fit: contain;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: center;
}

#room-description {
    grid-area: description;
    align-self: center;
}

#message-form {
    display: grid;
    grid-template-columns: 1fr 100px;
}

input {
    height: 50px;
}

button {
    height: 50px;
}

#message-list li {
    background: rgb(249, 248, 245);
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    width: fit-content;
    /* display: grid;
    grid-template-columns: 85px 1fr; */
}

#message-list {
    margin-top: 20px;
    margin-bottom: 20px;
    border: darkolivegreen 3px outset;
    padding-top: 20px;
    background-color: rgb(199, 196, 154);
    min-height: 150px;
    padding-bottom: 20px;
}

/* .pronouns {
    font-size: smaller;
    margin-top: -15px;
    margin-bottom: -8px;
} */

/* .avatar {
    width: 50px;
    height: 50px;
    margin-top: -5px;
}

.div2 {
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -20px;
} */
/* 
.message {
    background: rgb(249, 248, 245);
    border-radius: 25px;
    width: fit-content;
    padding: 10px;
} */
