main {
    /* display: grid; */
    /* grid-template-rows: auto 2px auto 1fr; */
    gap: 10px;
}

.room-section {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-areas:
        'image name'
        'image description';
    background: floralwhite;
    border: darkolivegreen 10px outset;
}

#room-name {
    grid-area: name;
    /* align-self: center; */
}

#room-image {
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 25px;
}

#room-description {
    grid-area: description;
}

#message-form {
    display: grid;
    grid-template-columns: 1fr 100px;
}

input {
    height: 50px;
}

button {
    height: 50px;
}

#message-list li {
    background: floralwhite;
    border: darkolivegreen 5px outset;
    margin-bottom: 5px;
    padding: 5px;
}

#message-list {
    height: 250px;
}
